// - General
.clear {
  clear: both;
}

// - Accounts
.account-group {
  margin-bottom: $dist;
  // padding-bottom: $dist;
  // border-bottom: 2pt solid $fc;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  & > strong {
    position: relative;
    display: inline-block;
    color: $brandcolor-one;
    margin-bottom: $dist/4;
  }

  .accounts-head {
    margin-bottom: $dist/4;
    padding-bottom: $dist/4;
    border-bottom: 2pt solid $brandcolor-one;

    .col {
      font-weight: bold;
    }
  }

  .account-comment {
    display: inline-block;
    margin-top: $dist/6;
    padding: $dist/8 $dist/6;
    max-width: 172.5mm - $dist/3;
    background: rgba(255, 225, 0, 0.3);
    font-style: italic;
    font-size: $fs-small;
  }

  .type-comment {
    margin-top: $dist/2;
    padding: $dist/6 $dist/4;
    max-width: 172.5mm - $dist/2;
    background: $box-color;
    font-size: $fs-small;
  }


  .account {
    page-break-inside: avoid;
    margin-bottom: $dist/4;
    padding-bottom: $dist/4;
    border-bottom: 1pt dashed $border-color;

    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .accounts-head,
  .account {
    .col {
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;

      float: left;
      margin-right: 5mm;
      text-align: left;

      &.resource {
        width: 70mm;
      }

      &.user {
        width: 46.25mm;
      }

      &.password {
        width: 46.25mm;
        margin-right: 0;
      }
    }
  }

  .accounts {
    &.hide-first {
      .col.resource {
        display: none;
      }      

      .col.user,
      .col.password {
        width: 83.75mm;
      }
    }
  }
}
